<h1>Hello Dallas from hello!</h1>
<br />
<h2>Demo#hello</h2>
<p>Find me in app/views/demo/hello.html.erb</p>

<%= 1 + 1 %><br />

<%= target = "world" %>
<%= "Hello #{target}" %>
<br />
<% @array.each do |n| %>
  <%= n ** n %><br />
<% end %>
