<h1>Hello Dallas from index!</h1>
<br />
<h2>Demo#index</h2>
<p>Find me in app/views/demo/index.html.erb</p>

<a href="/demo/hello">Hello via html</a><br />
<%= link_to 'Hello via link_to', {controller: 'demo', action: 'hello'} %>
